@font-face {
  font-family: 'Mont-Bold';
  src: url('assets/fonts/mont-bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/mont-bold.woff') format('woff'),
    url('assets/fonts/mont-bold.woff') format('woff2'),
    url('assets/fonts/mont-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont-Book';
  src: url('assets/fonts/mont-book.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/mont-book.woff') format('woff'),
    url('assets/fonts/mont-book.woff') format('woff2'),
    url('assets/fonts/mont-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont-Light';
  src: url('assets/fonts/mont-light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/mont-light.woff') format('woff'),
    url('assets/fonts/mont-light.woff') format('woff2'),
    url('assets/fonts/mont-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont-Regular';
  src: url('assets/fonts/mont-regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/mont-regular.woff') format('woff'),
    url('assets/fonts/mont-regular.woff') format('woff2'),
    url('assets/fonts/mont-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont-SemiBold';
  src: url('assets/fonts/mont-semibold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/mont-semibold.woff') format('woff'),
    url('assets/fonts/mont-semibold.woff') format('woff2'),
    url('assets/fonts/mont-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
