.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: $svgColor;
}

.icon-be-social {
	font-size:(320/10)*1rem;
	width:(511.96000000000004/320)*1em;
}
.icon-browser {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-facebook {
	font-size:(96.12/10)*1rem;
	width:(96.12/96.12)*1em;
}
.icon-instagram {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
