$color-black: #181818;
$color-yellow: #ffe045;
$color-yellow-2: #a79332;
$color-gray: #7d7d7d;
$color-white: #ffffff;
$color-pink: #ea4c89;

$svgColor:$color-gray;

$font-family:Mont-Light;
$font-bold:Mont-Bold;
$font-book:Mont-Book;
$font-semibold:Mont-SemiBold;
$font-regular:Mont-Regular;
